*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#theme-toggle {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 24px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  z-index: 999;
 transition: transform 0.3s ease;
}
#theme-toggle:active{
    transform: scale(0.9);
}

#header{
    width: 100%;
    height: 100vh;
    background: #080808;
    background-size: cover;
    background-position: center;
}
.container{
    padding:10px 10% ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}   
#logo-light{
    display: none;
}
.logo
{
  width: 140px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width .5s;
    
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text
{
    margin-top: 20%;
    font-size: 30px;
    font-weight: 600;
}
header-text h1{
    font-size: 60px;
    margin-top: 20%;
}
.header-text h1 span{
    color: #ff004f;
}   
/*-------------about section------------------*/

#about{
    padding: 100px 0;
    background: #080808;
}
.about-img{
    width: 100%;
    height:100%;
    border-radius: 10px;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width: 80%;
    height: auto;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;

}
.about-col-2 p{
    font-size: 15px;
}
.subtitle{
    font-size: 70px;
    font-weight: 600;
    color: #fff;

}
.tab-titles{
    display: flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 4px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width .5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    text-decoration: none;
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-------------skills section------------------*/
#skills{
    padding: 30px 0;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.skills-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    transition: background 0.5s ease, transform 0.5s ease;
}
.skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.skills-list div h2{
    font-size: 35px;
    font-weight:500;
    margin-bottom: 15px;
}
.skills-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}

.skills-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
.skills-list div:hover a{
    color: #f1f516;
}

/*-------------project section------------------*/
.projects{
    padding:50px 0;
    background: #080808;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.project-item{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.project-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    text-decoration: none;
    color: #ff004f;
    font-size: 18px;
    margin-top: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.project-item:hover img{
    transform: scale(1.1);
}
.project-item:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width : fit-content;
    border: 1px solid #ff004f;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s, color 0.5s;
}
.btn:hover{
    background: #ff004f;
    color: #fff;
}
/*-------------contact section------------------*/
#contact{
    padding: 50px 0;
    background: #080808;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    display: flex;
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    color: #ababab;
    font-size: 30px;
    margin-right: 15px;
    transition: transform 0.5s;
    display: inline-block;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input,
form textarea{
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: none;
    outline: none;
    border-radius:6px;
    background: #262626;
    color: #fff;
    font-size: 18px;
}
form .btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display:block;
}
/*-----------------CSS for responsive design------------------*/
nav .fa-solid.fa-bars{
    display: none;
}
nav .fa-solid.fa-xmark{
    display: none;
}
@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }#logo-light{
        display: none;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid.fa-bars{
        display: block;
        font-size: 25px;
    }   
    nav .fa-solid.fa-xmark{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s ease;
    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fa-solid.fa-xmark{
        position: absolute;
        top: 20px;
        left : 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left ,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
/*-----------------CSS for light mode------------------*/
body.light-mode {
  background-color: #FFEDFA;
  color: #BE5985;
}
body.light-mode #header {
  background-color: #FFEDFA;
}
body.light-mode #about {
  background-color: #FFEDFA;
}

body.light-mode .about-img {
  filter: brightness(0.8);
}
body.light-mode .about-col-2 h1 {
  color: #BE5985;
}
body.light-mode nav {
  background-color: #FFEDFA;
}
body.light-mode nav ul {
  background-color: #FFEDFA;
  right: -200px; /* Ensure the menu is hidden initially */
}
body.light-mode nav ul li a {
  color: #BE5985;
}
body.light-mode nav ul li a::after {
  background: #BE5985;
}
body.light-mode .header-text h1 {
  color: #a73466;
}   
body.light-mode .header-text h1 span {
  color: #bd0454;
}
body.light-mode .header-text p{
  color: #5c0329;
}
body.light-mode #skills h1{
    color: #BE5985;
  
}
body.light-mode .skills-list div {
  background-color: #F5F5F5;
  color: #BE5985;
}
body.light-mode .skills-list div:hover {
  background: #BE5985;
  color: #F1F516;
}
body.light-mode .projects {
  background: #FFEDFA;
}
body.light-mode #projects h1 {
  color: #BE5985;
}
body.light-mode #projects h3{
    color: #faf9f8;
}
body.light-mode #projects p{
  color: #F1F516;
}
body.light-mode .project-item img {
  filter: brightness(0.8);
}
body.light-mode .layer {
  background: linear-gradient(rgba(228, 24, 126, 0.6), #5f012a);
}
body.light-mode .layer a {
  color: #BE5985;
}
body.light-mode .btn {
  border: 1px solid #BE5985;
  color: #BE5985;
}
body.light-mode .btn:hover {
  background: #BE5985;
  color: #F1F516;
}
body.light-mode #contact {
  background: #FFEDFA;
}
body.light-mode #contact h1 {
  color: #BE5985;
}
body.light-mode .contact-left p i {
  color: #BE5985;
}
body.light-mode .social-icons a {
  color: #BE5985;
}
body.light-mode form input,
body.light-mode form textarea {
  background: #f1e1e1;
  color: #BE5985;
}
body.light-mode form .btn2 {
  background: #BE5985;
  color: #F1F516;
}
body.light-mode .copyright {
  background: #F5F5F5;
  color: #BE5985;
}
body.light-mode #msg {
  color: #61b752;
}

